# 애플리케이션 공통
TZ=Asia/Seoul
SPRING_PROFILES_ACTIVE=prod

# 데이터베이스 설정
DB_URL=jdbc:mysql://DBENDPOINT:3306/mysql
DB_USERNAME=
DB_PASSWORD=

# JWT 설정
JWT_SECRET=

# 관리자 계정 설정
ADMIN_USERNAME=
ADMIN_PASSWORD=

# IAM
AWS_ACCESS_KEY=
AWS_SECRET_KEY=
